html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: white;
	background-color: #777;
}

a {
	color: white;
	text-decoration: underline;
}

canvas {
	z-index: 0;
	width: 100%;
	height: 100%;
}

p {
  margin: 0 0 10px;
}

.hud {
	position: absolute; 
	z-index: 1; 
	left: 10px; 
	top: 10px; 
	float: left; 
}

